.toggle-button{
    background: none;
}

.navbar {
    border-radius: 5px;
    height: 15vh;
    /* border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe; */
}

.navbar-title {
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: bold;
}

.navbar-value {
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: bold;
}

.navbar-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 0.5rem; */
}