/* .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-card {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    border-radius: 1rem;
    gap: 1rem;
} */